@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

$main-blue: #0070af;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 960px) {
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 1120px) {
	body {
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 1560px) {
	body {
		font-size: 1.6rem;
	}
}

/* TYPOGRAPHY //*/
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-height: 100vh;
}

/* HEADER //*/

header {
	position: relative;
	padding: 10px 0;
	background-color: $main-blue;
	color: #fff;
	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.header-heading {
	font-size: 2em;
	a {
		color: #fff;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
}

.menu__navigation {
	position: absolute;
	padding: 0 5%;
	right: 0;
	left: 0;
	top: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-transform: scale(1, 0);
	        transform: scale(1, 0);
	-webkit-transform-origin: right top;
	        transform-origin: right top;
	transition: -webkit-transform 
	0.5s;
	transition: -webkit-transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	background-color: $main-blue;
	z-index: 1;
}

.menu__navigation_active {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
}

.menu__item {
	padding: 0.5em;
	color: #fff;
}

.menu__button {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.menu__button span, 
.menu__button span::before,
.menu__button span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -1px;
	width: 20px;
	height: 2px;
	background: #fff;
}

.menu__button span::before,
.menu__button span::after {
	content: '';
	transition: -webkit-transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu__button span::before {
	-webkit-transform: translateY(-6px);
	        transform: translateY(-6px);
}

.menu__button span::after {
	-webkit-transform: translateY(6px);
	        transform: translateY(6px);
}

.menu__button_active span {
	height: 0;
}

.menu__button_active span::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.menu__button_active span::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

@media only screen and (min-width: 560px) {
	header {
		.container {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			padding: 0;
		}
	}

	.header-heading {
		font-size: 2.2em;
	}

	.menu__navigation {
		position: relative;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		margin-top: 10px;
		padding: 10px 0;
		top: 0;
	}

	.menu__item {
		padding: 0;
	}

	.menu__item::after {
		content: "";
		background-color: #fff;
		height: 1px;
		width: 100%;
		position: relative;
		top: 5px;
		right: 100%;
		display: block;
		opacity: 0;
		-webkit-transition: 0.6s;
		transition: 0.6s;
	}

	.menu__item:hover::after {
		right: 0;
		opacity: 1;
	}

	.menu__button {
		display: none;
	}
}

@media only screen and (min-width: 760px) {
	header {
		padding: 15px 0;
	}
}

@media only screen and (min-width: 1024px) {

}

/* MAIN //*/

main {
}

.main__heading {
	margin: 1em 0;
}

.main__text {
	margin-bottom: 10px;
}

@media only screen and (min-width: 760px) {
	.main__heading {
		margin-top: 0;
	}
}
/* INFO //*/

.info {
	padding: 50px 0;
	margin-bottom: 20px;
	.container {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.info__image {
	width: 100%;
}

.info__text {
	padding: 0 5%;
}

@media only screen and (min-width: 760px) {
	.info {
		padding-bottom: 50px;
		.container {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			width: 90%;
		}
	}

	.info__image {
		width: 45%;
	}

	.info__text {
		width: 55%;
		padding-right: 0;
	}
}

@media only screen and (min-width: 960px) {
	.info {
		.container {
			width: 80%;
		}
	}
}


/* SLIDER //*/
.slider {
	width: 100%;
	position: relative;
}

.slider__content {
	position: relative;
}

.slider__item {
	width: 100%;
	position: absolute;
	z-index: 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	img {
		width: 100%;
		max-height: 100vh;
	}
}

.slider__item_active {
	z-index: 1;
	opacity: 1;
}

.slider__item_hidden {
	position: relative;
	z-index: -1;
	opacity: 0;
}

.slider__button {
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	cursor: pointer;
	background-size: cover;
	background-position: center center;
}

.slider__button_left {
	left: 5%;
	background-image: url("../images/arrow-left-1.png");
}

.slider__button_left:hover {
	background-image: url("../images/arrow-left-2.png");
}

.slider__button_right {
	right: 5%;
	background-image: url("../images/arrow-right-1.png");
}

.slider__button_right:hover {
	background-image: url("../images/arrow-right-2.png");
}

.slider__dots {
	z-index: 1;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px;
}

.slider__dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	opacity: 0.6;
	margin: 0 1em;
	cursor: pointer;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.slider__dot_active {
	opacity: 1;
}

@media only screen and (min-width: 560px) {
	.slider__button {
		width: 40px;
		height: 40px;
	}

	.slider__dot {
		width: 15px;
		height: 15px;
	}
}

@media only screen and (min-width: 960px) {
	.slider__button {
		width: 50px;
		height: 50px;
	}

	.slider__dot {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width: 1560px) {
	.slider__button {
		width: 60px;
		height: 60px;
	}

	.slider__dot {
		width: 25px;
		height: 25px;
	}
}


/* LUXURY YACHTS //*/

.info__luxury {
	.info__image {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	.main__text:last-child {
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 760px) {
	.info__luxury {

		.info__image {
			width: 35%;
		}

		.info__text {
			width: 65%;
			padding-right: 5%;
			padding-left: 0;
		}
	}
}

/* FOOTER //*/

footer {
	padding: 10px 0;
	background-color: $main-blue;
	color: #fff;
	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.footer-heading{
	margin-bottom: 15px;
	text-align: center;
}
.contacts__item {
	padding: 5px 0 5px 40px;
	margin-bottom: 10px;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 0 center;
	a {
		color: #fff;
	}
}

.contacts__item_phone {
	background-image: url("../images/phone.png");
}

.contacts__item_mail {
	background-image: url("../images/letter.png");
}

.contacts__item_address {
	background-image: url("../images/house.png");
}

@media only screen and (min-width: 760px) {
	footer {
		.container {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}
	}
}